@page "/"
@inject IVersionProvider VersionProvider

<Container Class="custom-page-size" 
    ElementId="Home" 
    TextAlignment="TextAlignment.Center"
    Style="background-image: url('img/main/homePage_4.jpg'); background-size: cover;">
    <Div Style="height:10%;" />
    <Heading Size="HeadingSize.Is4" Margin="Margin.Is3.FromBottom">Awaken Connections,</Heading>
    <Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom">One Cross Link at a Time</Heading>
    <Heading Size="HeadingSize.Is2" Margin="Margin.Is3.FromBottom">Strengthen the Bond</Heading>
</Container>

<Container Class="custom-page-size" ElementId="Progress">
    <Div Style="height:10%;" />
    <Heading Class="custom-lateral-margins" Size="HeadingSize.Is2" >Progress:</Heading>

    <CardDeck Style="margin:2%;">
        <Card>
            <CardImage Source="/img/main/analyze1.jpg" Alt="Card image cap 3"></CardImage>
            <CardBody>
                <CardTitle Size="5">Analize:</CardTitle>
                <CardText>
                    Analyze the components and technological tools, as well as the methodologies for the development of the project   
                </CardText>
                <Button Clicked="@ShowAnalyzeModal" Style="background-color: #82DE0E;">Show more</Button>
            </CardBody>
        </Card>
        <Card>
            <CardImage Source="img/main/design1.jpg" Alt="Card image cap 9"></CardImage>
            <CardBody>
                <CardTitle Size="5">Design:</CardTitle>
                <CardText>
                    Design the hardware and software architecture with the help of schemes such as diagrams that allow the project an organized and orderly development.   
                </CardText>
                <Button Clicked="@ShowDesignModal" Style="background-color: #82DE0E;">Show more</Button>
            </CardBody>
        </Card>
        <Card>
            <CardImage Source="img/main/development.jpg" Alt="Card image cap 12"></CardImage>
            <CardBody>
                <CardTitle Size="5">Development:</CardTitle>
                <CardText>
                    Build the bracelet and implement the neural network algorithms for the interpretation of the heart rate and the detection of falls. Also, develop the mobile application. 
                </CardText>
                <Button Clicked="@ShowDevelopmentModal" Style="background-color: #82DE0E;">Show more</Button>
            </CardBody>
        </Card>
        <Card>
            <CardImage Source="img/main/validation.jpg" Alt="Card image cap 12"></CardImage>
            <CardBody>
                <CardTitle Size="5">Validation:</CardTitle>
                <CardText>
                    Validate the data reading and the operation of the bracelet algorithms using the following characteristics: precision, sensitivity and specificity. Also, validate the mobile application data transaction.
                </CardText>
                <Button Style="background-color: #82DE0E;">Show more</Button>
            </CardBody>
        </Card>
    </CardDeck>

</Container>
    
<Container Class="custom-page-size custom-lateral-margins" ElementId="AboutUs">
    <Div Style="height:10%;" />
    <Heading Size="HeadingSize.Is2" >About Us:</Heading>
    <Div Style="height:5%;" />
    <Row>
        <Column ColumnSize="ColumnSize.Is6">
            <Heading Size="HeadingSize.Is6" Style="text-align: justify;">
                We are Ez-mile, specialists in health and technology, with a focus on elderly care. We stand out for our organization, creativity, and innovative approach. Passionate about artificial intelligence and machine learning, we are dedicated to enhancing the quality of life for seniors through advanced technological solutions.
            </Heading>
            <Div Style="height:10%;" />
            <Heading Size="HeadingSize.Is6" Style="text-align: justify;">
                We are known for our agility and ability to develop effective solutions. We foster open and collaborative communication to refine our strategies. We firmly believe that our combination of excellence and innovative approach positions us as leaders in improving the quality of life for seniors through cutting-edge technological solutions.
            </Heading>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <Figure Size="FigureSize.Is256x256">
                <FigureImage Source="/img/main/aboutUs.png" AlternateText="empty-256x256" Rounded />
            </Figure>
        </Column>
    </Row>
</Container>

<Container Background="Background.Light" Class="custom-page-size custom-lateral-margins" ElementId="Team">
    <Div Style="height:10%;" />
    <Heading Size="HeadingSize.Is2" >Team:</Heading>
    <Div Style="display:flex; justify-content: center;">
        <Div Class="shadow-border" Style=" background-color:#f0f7f6; padding: 5%; margin: 5% 10% 5% 10%;">
            <Figure Size="FigureSize.Is256x256">
                <FigureImage Source="/img/members/Diego.jpg" AlternateText="empty-256x256" Rounded />
            </Figure>
            <Div Style="font-size: 30px;">
                Diego Henriquez
            </Div>
            <Div Style="text-align: justify; font-size: 20;">
                I am a creative and bright mind, always eager to embrace new challenges with a burning passion to turn my ideas into reality. I believe in the power of innovation and the impact it can have on the world around us. I cherish every moment of team collaboration, where the synergy of ideas and efforts becomes an endless source of inspiration.
            </Div>
        </Div>
        <Div Class="shadow-border" Style="background-color:#f0f7f6; padding: 5%; margin: 5% 10% 5% 10%;">
            <Figure Size="FigureSize.Is256x256">
                <FigureImage Source="/img/members/Patrick.jpeg" AlternateText="empty-256x256" Rounded />
            </Figure>
            <Div Style="font-size: 30px;">
                Patrick Ortiz
            </Div>
            <Div Style="text-align: justify; font-size: 20;">
               I possess an analytical approach and impeccable logic. I do not hesitate to take the initiative when necessary. My determination and decisiveness in decision-making are supported by strong arguments. I seek effective teamwork, standing out for my meticulousness and organization at every stage of the journey.
            </Div>
        </Div>
    </Div>
</Container>

<Container Class="custom-page-size custom-lateral-margins" ElementId="ContactUs" >
    <Div Style="height:10%;" />
    <Heading Size="HeadingSize.Is2">Contact Us:</Heading>
    <Div Style="height:5%;" />

    <Row>
        <Column ColumnSize="ColumnSize.Is6">
            <Label for="email">Email</Label>
            <TextEdit Class="rcorners2" Border="Border.Rounded" @bind-Text="actualEmail" />
            <Div Style="height:10%;" />
            <Label for="subject">Subject</Label>
            <TextEdit Class="rcorners2" Border="Border.Rounded" @bind-Text="actualSubject" />
            <Div Style="height:10%;" />
            <Label for="message">Message</Label>
            <MemoEdit Rows="7" Class="rcorners2" @bind-Text="actualBody"/>
            <Div Style="height:10%;"/>
            <Button Color="Color.Primary" Clicked="@SendMail">Send Message</Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <Figure Size="FigureSize.Is256x256">
                <FigureImage Source="/img/main/contactUs.jpg" AlternateText="empty-256x256" Rounded />
            </Figure>
        </Column>
    </Row>

</Container>

@*Analyse Modal*@
<Modal @bind-Visible="@analyzeModal">
    <ModalContent Centered Size="ModalSize.Large">
        <ModalHeader Style="background:#82DE0E">
            <ModalHeader Style="justify-content: left; vertical-align:middle;">
                <Div Style="font-size:20px">
                    <b>Phase 1:</b> Analyze
                </Div>
            </ModalHeader>
        </ModalHeader>
        <ModalBody>
            <Carousel>
                <CarouselSlide Name="1">
                    <Image Source="img/progress/workflow.jpg" Display="Display.Block" Width="Width.Is100" />
                </CarouselSlide>
                <CarouselSlide Name="2">
                    <Image Source="img/progress/languages.jpg" Display="Display.Block" Width="Width.Is100" />
                </CarouselSlide>
            </Carousel>
        </ModalBody>
        <ModalFooter Style="justify-content:center">
            <Button Style="background-color: #82DE0E" Clicked="HideAnalyzeModal">
                Close
            </Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@*Design Modal*@
<Modal @bind-Visible="@designModal">
    <ModalContent Centered Size="ModalSize.Large">
        <ModalHeader Style="background:#82DE0E">
            <ModalHeader Style="justify-content: left; vertical-align:middle;">
                <Div Style="font-size:20px">
                    <b>Phase 2:</b> Design
                </Div>
            </ModalHeader>
        </ModalHeader>
        <ModalBody>
            <Carousel>
                <CarouselSlide Name="1">
                    <Image Source="img/progress/conceptIdea.jpg" Display="Display.Block" Width="Width.Is100" />
                </CarouselSlide>
                <CarouselSlide Name="2">
                    <Image Source="img/progress/designGuide.jpg" Display="Display.Block" Width="Width.Is100" />
                </CarouselSlide>
                 <CarouselSlide Name="3">
                    <Image Source="img/progress/mobileDesign.jpg" Display="Display.Block" Width="Width.Is100" />
                </CarouselSlide>
                <CarouselSlide Name="4">
                    <Image Source="img/progress/pcbDesign.jpg" Display="Display.Block" Width="Width.Is100" />
                </CarouselSlide>
            </Carousel>
        </ModalBody>
        <ModalFooter Style="justify-content:center">
            <Button Style="background-color: #82DE0E" Clicked="HideDesignModal">
                Close
            </Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@*Development Modal*@
<Modal @bind-Visible="@developmentModal">
    <ModalContent Centered Size="ModalSize.Large">
        <ModalHeader Style="background:#82DE0E">
            <ModalHeader Style="justify-content: left; vertical-align:middle;">
                <Div Style="font-size:20px">
                    <b>Phase 3:</b> Development
                </Div>
            </ModalHeader>
        </ModalHeader>
        <ModalBody>
            <Carousel>
                <CarouselSlide Name="1">
                    <Image Source="img/progress/printed1.jpg" Display="Display.Block" Width="Width.Is100" />
                </CarouselSlide>
                <CarouselSlide Name="2">
                    <Image Source="img/progress/printed2.jpg" Display="Display.Block" Width="Width.Is100" />
                </CarouselSlide>
                 <CarouselSlide Name="3">
                    <Image Source="img/progress/printed3.jpg" Display="Display.Block" Width="Width.Is100" />
                </CarouselSlide>
                <CarouselSlide Name="4">
                    <Image Source="img/progress/prototype0.jpg" Display="Display.Block" Width="Width.Is100" />
                </CarouselSlide>
            </Carousel>
        </ModalBody>
        <ModalFooter Style="justify-content:center">
            <Button Style="background-color: #82DE0E" Clicked="HideDevelopmentModal">
                Close
            </Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<style>
    .btn:hover {
        background-color: #808080 !important;
    }

    .custom-lateral-margins {
        padding-right: 20%;
        padding-left: 20%;
    }

    .custom-page-size {
        height: 50%;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    .rcorners2 {
      border: 2px solid #000000 !important;
      padding: 20px;

    }

    .shadow-border {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 2px shadow */
    border: 2px solid #ccc; /* Gray border */
}


     @CustomStyle
</style>

@code {
    private string CustomStyle = @"
        @media (max-width: 767px) {
            .mobile-height {
                height: 0;
            }
        }

        @media (min-width: 768px) {
            .mobile-height {
                height: 20%;
            }
        }
    ";
}